<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <title>REST API Resources</title>
</head>
<body role="document">
<div class="container theme-showcase">
    <div class="page-header">
        <h1 id="logo">
            <span>WPEngine Billing</span>
            <span class="small">API Docs</span>
        </h1>
    </div>
    <div class="model-container"></div>
    <div class="content">
        <div class="box clearfix">
        </div>
        <div class="non-sidebar">
            <div class="main-content">

                <h2>API Models</h2>
                {{#models}}
                    {{#model}}
                        <table class="table table-striped">
                            <caption>{{classname}}</caption>
                            <thead>
                            <tr>
                                <th>Parameter Name</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#vars}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{datatype}}</td>
                                    <td>{{description}}</td>
                                </tr>
                            {{/vars}}
                            </tbody>
                        </table>
                    {{/model}}
                {{/models}}

                <hr />

                <h2>API Resources</h2>
                {{#apiInfo}}
                    {{#apis}}
                        <div class="container">
                            {{#operations}}
                                {{#operation}}
                                    <div class="framed">
                                        <div>
                                            <h2>
                                                <span class="label label-primary">{{httpMethod}}</span>
                                                <code>{{path}}</code>
                                            </h2>
                                            {{#summary}}
                                                <div class="well well-sm">{{summary}}</div>
                                            {{/summary}}
                                        </div>

                                        <table class="table table-striped">
                                            <caption>Request Parameters</caption>
                                            <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Source</th>
                                                <th>Optional?</th>
                                                <th>Description</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#allParams}}
                                                <tr>
                                                    <td>{{paramName}}</td>
                                                    <td>{{complexType}}</td>
                                                    <td>{{type}}</td>
                                                    <td>
                                                        {{#optional}}Y{{/optional}}
                                                        {{^optional}}N{{/optional}}
                                                    </td>
                                                    <td>{{description}}</td>
                                                </tr>
                                            {{/allParams}}
                                            </tbody>
                                        </table>

                                        <table class="table table-striped">
                                            <caption>Responses</caption>
                                            <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Reason</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#errorList}}
                                                <tr>
                                                    <td>{{code}}</td>
                                                    <td>{{reason}}</td>
                                                </tr>
                                            {{/errorList}}
                                            </tbody>
                                        </table>

                                        <div><strong>Return Type:</strong> {{returnType}}</div>
                                    </div>

                                {{/operation}}
                            {{/operations}}

                        </div>
                    {{/apis}}
                {{/apiInfo}}

            </div>
        </div>
    </div>
</div>
</body>
</html>